  /*CSS for sidebar*/

  .sidebardiv {
    padding-left: 30px;
  }

  .md-sidenav-left {
    margin-top: 65px;
    width: 200px;
    position: fixed;
  }

  /*CSS for loginpage*/
  .login-div {
    margin: 80px;
  }

  .loginform {
    width: 80%;
  }

   /*CSS for Dialo*/
  .dialogue-div {
    max-width: 750px;
    max-height: 560px;
  }

  .dialogue-image {
    max-width: 500px;
    max-height: 460px;
  }

  .dashboard-div {
    padding-top: 45px;
    margin-left: 150px;
  }

  .md-toolbar-tools {
    position: fixed;
  }

  .dashboard-button {
    width: 35%;
    /*margin: auto;
    margin-bottom: 25px;*/
  }

  .md-title {
    align-self: center;
  }
