<div layout="row" layout-xs='column' layout-wrap class='dashboard-div'>
  <md-card flex-gt-xs='30' flex-xs='100' ng-repeat="item in mydata | selectFilter : manufacturerList: storageList: cameraList :osList ">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{item.name}}</span>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="{{ item.image.small }}" alt="image caption">
    <md-card-content>

      <p> <strong>Manufacturer:</strong>{{item.specs.manufacturer}} </p>
      <p> <strong>Storage:</strong>{{item.specs.storage}} </p>
      <p> <strong>OS:</strong>{{item.specs.os}}</p>
      <p> <strong>Camera:</strong>{{item.specs.camera}} </p>
      <p> <strong>Price:</strong>{{item.price}} </p>

    </md-card-content>
    <div>
    <md-button class="md-raised md-primary dashboard-button" ng-click="showDialogue($event,item)"><strong>VIEW</strong></md-button>
    <md-button class="md-raised md-primary dashboard-button" ng-click="addTocart(item)"><strong>ADD TO CART</strong></md-button>
    <div>
  </md-card>
</div>
