<section layout="column">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop>

    <md-subheader class="md-primary"><strong>Manufacturer</strong></md-subheader>
    <div class="sidebardiv" ng-repeat='item in mydata | unique : "manufacturer"'>
      <md-checkbox class="md-secondary" ng-click='storeArray("manufacturer",item.specs.manufacturer)' aria-label="checkbox">
        {{ item.specs.manufacturer}}
      </md-checkbox>
    </div>

    <md-subheader class="md-primary"><strong>Storage</strong></md-subheader>
    <div class="sidebardiv" ng-repeat="item in mydata | unique : 'storage'">
      <md-checkbox class="md-secondary" ng-click='storeArray("storage", item.specs.storage)'>
        {{ item.specs.storage}}
      </md-checkbox>
    </div>

    <md-subheader class="md-primary"><strong>Camera</strong></md-subheader>
    <div class="sidebardiv" ng-repeat="item in mydata | unique : 'camera'">
      <md-checkbox class="md-secondary" ng-click='storeArray( "camera",item.specs.camera)'>
        {{ item.specs.camera}} mpx
      </md-checkbox>
    </div>

    <md-subheader class="md-primary"><strong>Operating System</strong></md-subheader>
    <div class="sidebardiv" ng-repeat="item in mydata | unique : 'os'">
      <md-checkbox class="md-secondary" ng-click='storeArray("os", item.specs.os)'>
        {{ item.specs.os}}
      </md-checkbox>
    </div>


  </md-sidenav>
</section>
