<div>
  <md-toolbar class="md-toolbar-tools">
    <md-button class=" md-primary md-raised md-icon-button" aria-label="Sidebar"
     ng-click="toggleLeft()">
      <span><md-icon><i class="material-icons">menu</i></md-icon></span>
    </md-button>
    <p>Single Page Application</p>
    <!-- <span flex="180px"></span> -->


    <span flex="200px"></span>
    <!-- <div ng-repeat="product in mydata"></div> -->

    <a ui-sref='home.cart'>
      <md-button class="md-raised md-primary" aria-label="Sidebar1">
        <span>Cart<md-icon><i class="material-icons">add_shopping_cart</i></md-icon></span>
        <span ng-bind="cartArray1.length"></span></md-button>
    </a>
    <md-button class="md-raised md-primary" ng-click="goToLoginPage()">Log-Out</md-button>
  </md-toolbar>
</div>
<!-- ng-bind="cartArray.length" -->
